@import 'https://fonts.googleapis.com/css?family=Open+Sans|Sigmar+One';

*{
    margin:0;
    padding:0;
}

header{
    background: #eaeaea no-repeat center center;
    margin-top:0;
}

.team-title,
.process-title{
    font: 80px 'Sigmar One', cursiv;
    color: black;
    text-align: center;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.team-subtitle{
    font: 28px 'Open Sans', sans-serif;
    color: #565656;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 32px;
    margin-top: 0 !important;
    padding-top: 0 !important;

}

.team-members{
    display: inline-block !important;
 }

.member,
.single-day{
    list-style-type: none;
    display: inline-block !important;

}
.person-avatar{
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.person-name,
.day-title{
    font: 16px 'Open Sans', sans-serif;
    text-align: center;
}

.day-meme{
    max-height: 250px;
    max-width: 300px;
    height: 100%;
    width: 100%;
    margin: 5px;
}

.dislike-title{
    font: 34px 'Sigmar One', cursiv;
    color: black;
    text-align: center;
    padding-top: 80px;
}

.dislike-subtitle{
    font: 22px 'Open Sans', sans-serif;
    color: #565656;
    letter-spacing: 12px;
    text-transform: uppercase;

    text-align: center;
}

.dislike-button{
    text-decoration: none;
    font: 24px 'Open Sans', sans-serif;
    color: #b61924;
    border: 5px dashed #b61924;
    border-radius: 20px;
    padding: 15px 60px;
    margin-top: 20px;
}

.dislike-button:hover{
    background: #b61924;
    color: white;
    border:  5px solid #b61924;
    text-decoration: none;
}